@use "../abstract/" as *;

body {
  height: 100rem;
}

.slider {
  padding-top: 20rem;
  padding-bottom: 5rem;
  img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.blogpost {
  .blogs {
    padding-bottom: 10rem;
  }

  .blog a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 3rem;

    h3 {
      font-size: 3rem;
      font-weight: bold;
      padding: 1rem 0;
    }
    p {
      line-height: 3;
      text-align: justify;
    }
    img {
      width: 40rem;
    }
  }
}

@include mediaQuery(90rem) {
  .blogs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .blog {
    align-items: left;
  }
}
