@use "../abstract/01-variable" as *;
@use "../abstract/03-resets" as *;
@use "../abstract/04-base" as *;
@use "../abstract/05-grid" as *;
@use "../components/header" as *;
@use "../abstract/02-mixins" as *;

.banner {
  height: 100vh;
  background-image: url("../../Dist/Image/Banner1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .container {
    height: 100%;
  }
  &--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    h1 {
      color: $clr-light;
      font-size: clamp(5rem, 10vw, 10rem);
    }
  }
}

.latest {
  &--wrapper {
    h2 {
      font-size: 6rem;
      font-weight: bold;
      text-align: center;
    }

    h3 {
      font-size: 3rem;
      font-weight: bold;
      color: $clr-dark;
    }

    p {
      font-size: 1.5rem;
      text-align: justify;
      padding-top: 1rem;
    }
  }

  &--blog {
    img {
      width: 20rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 2rem;
    }

    h3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 1rem;
    }
  }

  &--blogs {
    gap: 2rem;
    @include mediaQuery(90rem) {
      display: flex;
      flex-direction: row;

      img {
        width: 40rem;
      }
      h3 {
        display: flex;
        flex-direction: row;
        padding-top: 1rem;
      }

      p {
        padding-top: 3rem;
        line-height: 3;
      }
    }
  }

  &--wrapper {
    @include mediaQuery(90rem) {
      h2 {
        font-size: 6rem;
      }
    }
  }

  &--icons ul li a {
    font-size: 5rem;
    color: #8e8e8e;
  }

  &--icons ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    padding: 3rem 0;
  }

  &--icons ul li a:hover {
    color: $clr-dark;
  }
}

.latest--icons ul li a {
  @include mediaQuery(90rem) {
    font-size: 9rem;
    color: #8e8e8e;
  }
}

.mostviewed--wrapper {
  background-color: $clr-gray;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.mostviewed {
  @include mediaQuery(90rem) {
    background-color: $clr-gray;
  }
}

.mostviewed {
  &--wrapper {
    h3 {
      font-size: 6rem;
      font-weight: bold;
      text-align: center;
      padding-bottom: 2rem;
    }

    h4 {
      font-size: 3rem;
      font-weight: bold;
      padding: 2rem 0;
    }

    p {
      text-align: justify;
      padding-bottom: 2rem;
      line-height: 2;
    }
  }

  .mostviewed1 img {
    width: 80rem;
  }
}

.mostviewed img {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mostvieweds {
  h3 {
    font-size: 6rem;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
}
.mostvieweds {
  gap: 2rem;
}
.mostvieweds {
  @include mediaQuery(90rem) {
    display: grid;
    flex-direction: column;
    grid-template-columns: 70% 1fr;
  }
}

.mostviewgroup {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.mostviewgroup img {
  width: 40rem;
  height: 31rem;
  margin: 0;
  display: flex;
}

.whatwedo {
  h2 {
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 2rem;
  }

  p {
    text-align: justify;
    line-height: 2;
    padding-bottom: 3rem;
  }
}

.whatwedo {
  @include mediaQuery(90rem) {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
  }
}

.latest--do {
  @include mediaQuery(90rem) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }

  p {
    line-height: 3;
  }
}

.latest--desc a {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
  padding: 1rem;
  text-align: center;
  border: 1px solid $clr-dark;
}

.partners {
  background-color: $clr-gray;

  h2 {
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
  }
  @include mediaQuery(90rem) {
    background-color: $clr-gray;
  }
}

.footer {
  h3 {
    font-size: 4rem;
    font-weight: bold;
  }

  p {
    padding: 0.5rem 0;
  }
}

.footer--email {
  padding-bottom: 4rem;

  input {
    background-color: $clr-gray;
    padding: 0.5rem 0.5rem;
    font-size: 1.5rem;
  }

  a {
    width: fit-content;
    padding: 0.5rem 1rem;
    border: 1px solid $clr-dark;
  }

  div {
    display: flex;
    justify-content: space-between;
  }
}

.footer--last {
  display: flex;
  flex-direction: row;
  gap: 10rem;

  li {
    padding-bottom: 1rem;
  }
}

.footer--footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include mediaQuery(90rem) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

// sass ./Dist/main.scss ./Dist/css/style.css
// sass ./scss/main.scss ./Dist/css/style.css --watch
