@use "../abstract" as *;

.header2 {
  background-color: $clr-light;
  position: fixed;
  width: 100%;

  & h1 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: clamp(6rem, 5vw, 6rem);
  }
}

.header--nav2 {
  position: absolute;
  background-color: $clr-gray;
  top: 15rem;
  width: 100%;
  left: 0;
  height: 0vh;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  border-bottom: 0.5px solid $clr-dark;

  &.active {
    height: calc(100vh - 7rem);
  }

  & ul li a {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 1rem 0;

    &:hover {
      background-color: $clr-dark;
      color: $clr-light;
    }
  }

  @include mediaQuery(72rem) {
    position: static;
    height: unset;
    width: unset;
    overflow: unset;
    background-color: unset;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      li {
        a {
          position: relative;
          width: 120%;
          &:hover {
            background-color: unset;
            color: $clr-light;
          }
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 0%;
            background-color: $clr-dark;
            color: $clr-light;
            z-index: -1;
            bottom: 0;
            left: 0;
            transition: 0.5s ease-in-out;
          }
          &:hover::before {
            height: 100%;
          }
          &.active {
            color: $clr-light;
            &::before {
              height: 100%;
            }
          }
        }
      }
    }
  }
}

.toggle--buttonwrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.toggle--button2 {
  cursor: pointer;
  padding: 3px;

  @include mediaQuery(72rem) {
    display: none;
  }
  span {
    display: block;
    width: 4rem;
    height: 4px;
    background-color: $clr-dark;
    margin: 0.5rem;
    border-radius: 2rem;
    transition: 0.5s ease-in-out;
  }
  &.active span:first-child {
    transform: rotate(130deg) translate(3px, -20px);
    width: 3rem;
  }

  &.active span:nth-child(2) {
    // transform: rotate(90deg);
    opacity: 0;
  }

  &.active span:last-child {
    transform: rotate(-130deg) translate(4px, -1px);
    width: 3rem;
  }

  &:hover {
    background-color: $clr-gray;
    border-radius: 5px;
  }
}

@include mediaQuery(90rem) {
}
