@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&display=swap");

$clr-light: #fff;
$clr-dark: #2b2b2b;
$clr-gray: #ebebeb;

$ff-primary: "Kaisei Decol", Helvetica, sans-serif;

$breakpoints: (
  "xs": 0,
  "sm": 48rem,
  "md": 72rem,
  "lg": 96rem,
  "xl": 120rem,
);
